/***************COMMENTS**********************/
.star_empty                                               { position: relative; top: 3px; display: inline-block; width: 17px; height: 20px; background: url(/bundles/nitrareview/images/star_ico.png) 100% 0 no-repeat;}
.star                                                     { position: relative; top: 3px; display: inline-block; width: 17px; height: 20px; background: url(/bundles/nitrareview/images/star_ico.png) 0 0 no-repeat;}
.stars                                                    { width: 110px; }
