{% trans_default_domain 'NitraReviewBundle' %}

{% block review_form_block %}
    {{ form_start(addReview) }}
        {% block result_message %}
            {% if success %}
                <div class='result'>{{ showUnmoderated ? 'review.comment.success'|trans : 'review.comment.success_modaration'|trans }}</div>
            {% endif %}
        {% endblock result_message %}
                
        {% block review_form %}
            {% block review_form_user %}
                {% if authType == 'userNameAndEmail' %}
                     {{ form_row(addReview.userName) }}
                     {{ form_row(addReview.email) }}
                {% elseif authType == 'userName' %}
                     {{ form_row(addReview.userName) }}
                {% endif %} 
            {% endblock review_form_user %}
                
            {% block review_form_message %}    
                {{ form_row(addReview.message) }}
            {% endblock review_form_message %}
                
            {% block review_form_rating %}
                <div class="rate review">
                    {% block rate %}
                        {% block rate_label %}
                            <span class="rate_label">{{ 'review.add_rate'|trans }}</span>
                        {% endblock rate_label %}
                            
                        {% block rate_stars %}   
                            <span class="stars">
                                {% for i in 0..4 %}
                                    {% block rate_star %}
                                       <span class="rating star_empty"></span>
                                    {% endblock rate_star %}
                                {% endfor %}
                            </span>
                        {% endblock rate_stars %}
                            
                        {% block rate_add_review %}
                            {{ form_row(addReview.obj_rating) }}
                        {% endblock rate_add_review %}
                    {% endblock rate %}
                </div>
            {% endblock review_form_rating %}
                
            {% block review_form_send %}
                {{ form_row(addReview.send) }}
            {% endblock review_form_send %}
        {% endblock review_form %}
    {{ form_end(addReview) }}
{% endblock review_form_block %}

{% block review_form_script %}
    <script type="text/javascript">
        $('#{{ addReview.vars.attr.id }}').submit(function(){
            $.ajax({
                type: "POST",
                url:  $(this).prop('action'),
                data: $(this).serialize(),
                success: function(Data) {
                    if (Data.anonim) {
                       $.colorbox({href: '{{ (authType == 'nitraAuth') ? path('nitra_auth') : path('answer_review') }}'});
                       return false;
                    }

                    if (Data.captchaReview) {
                        $.colorbox({href: '{{ path('nitra_captcha') }}'});
                        return false;
                    }

                    $.ajax({
                        type: "POST",
                        url: "{{ path ('review_list') }}",
                        data: {
                            object_id: '{{ objectId }}'
                        },
                        success: function(data) {
                            if (!$('.review_list').length) {
                                $('.reviewList_container').append('<ul class="review_list" />');
                            }
                            $('.reviewList_container').html(data);
                            $('#allCount').text($('.review_list').attr('allcount'));
                            $('.review_list').data('page', 1);
                        }
                    });
                    $('#{{ addReview.vars.attr.id }}').replaceWith(Data);
                }
            });
            return false;
        });
    </script>
{% endblock review_form_script %}