{% trans_default_domain 'NitraReviewBundle' %}

{% block review_answer %}
    <div class="review_answer" id="answerReviewForm">
        {% block review_answer_form %}
            {{ form(form, {'attr': {'id': 'answerReview'} }) }}
        {% endblock review_answer_form %}

        {% block review_answer_script %}   
            <script type="text/javascript">
                $('#answerReview').submit(function() {
                    var value = $('#answerReview').serialize()  + "&id=" + '{{reviewId}}';
                    $.ajax({
                        type: "POST",
                        url: "{{ path ('answer_review') }}",
                        data: value,
                        success: function(Data) {
                            var result = $(Data).find('#answerReview').length;
                            if (result > 0){
                                $('#answerReviewForm').replaceWith(Data);
                                $.colorbox.resize();
                            } else {
                                $('#' + '{{reviewId}}').replaceWith(Data);
                                if (!('{{showUnmoderated}}' == '1')) {
                                    var mess = '{{ 'review.answer.success_modaration'|trans }}' +  '<button onclick="$.colorbox.close();" >{{'review.answer.button' | trans}}</button>';
                                    $('#regUserForm').replaceWith(mess);
                                    $.colorbox.resize();
                                    return false;
                                }
                                $.colorbox.close();
                            }
                        }
                    });
                    return false;
                });
            </script>
        {% endblock review_answer_script %}
    </div>
{% endblock review_answer %}