{% trans_default_domain "NitraReviewBundle" %}

{% block captcha %}
    <div id="captcha_form" class="captcha">
        {% block title %}<h1>{{ 'captcha.title'|trans }}</h1>{% endblock title %}
        {% block captcha_form %}
            {{ form_start(captchaReview, {'attr':{'id':'reviewCaptcha'}}) }}
                {{ form_row(captchaReview.captcha) }}
                {{ form_row(captchaReview.submit) }}
                {{ form_row(captchaReview._token) }}
            {{ form_end(captchaReview, { 'render_rest': false } )}}
        {% endblock captcha_form %}
    </div>
{% endblock captcha %}

{% block jscript %}
    <script type="text/javascript">
        $('#reviewCaptcha').submit(function() { 
            var value = $(this).serialize();
            $.ajax({
                type: "POST",
                url: "{{ path ('nitra_captcha') }}",
                data: value,
                success: function(Data) {
                    if (Data.isValidCaptcha) {
                        if (Data.id) {
                            $('#' + Data.id).find('button').click();
                        } else {
                            sendReview();  
                        }
                        $.colorbox.close();
                    }
                    $('#captcha_form').replaceWith(Data);
                    $.colorbox.resize();
                }
            });
            return false;
        });
    </script>  
{% endblock jscript %}