{% trans_default_domain 'NitraReviewBundle' %}
{% block review_list_items %}
    <ul class="review_list" allcount="{{listData|length }}">
    {% for value in listData  %}
        {% block review_item %}
            <li class="review_item {{ loop.first ? 'first' }}" id="{{ value.id }}">
                {% block review_item_content %}
                    {% block review_item_info %}
                        {% include 'NitraReviewBundle:Review:ListReviewHref.html.twig' with {'value': value} %}
                    {% endblock review_item_info %}

                    {% block review_rating %}
                        {% include 'NitraReviewBundle:Review:reviewRating.html.twig' with {'rating': value.objRating} %}
                    {% endblock review_rating %}

                    {% block review_text %}
                        <div class="text">{{ value.message }}</div>
                    {% endblock review_text %}

                    {% block review_answer %}  
                        {% for answer in value.embeddedcoment %}
                            {% if answer.status %}
                                {% if showUnmoderated or answer.moderated %}
                                    <div class="review_answer {{ showUnmoderated ? 'unmoderated' }}">
                                        {% block review_answer_content %}
                                            {% block review_answer_info %}
                                                {% include 'NitraReviewBundle:Review:ListReviewHref.html.twig' with {'value': answer} %}
                                            {% endblock review_answer_info %}
                                            {% block review_answer_text %}
                                                <div class="text">{{ answer.message }}</div>
                                            {% endblock review_answer_text %}
                                        {% endblock review_answer_content %}
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if answerParam  %}    
                            {% if authType == 'nitraAuth' %} 
                                {% block answer_button %}                     
                                    <a class="embed_coment" {% block answer_button_action %}onclick="$('#answer_form_{{ value.id }}').toggle();">{{ 'review.button_answer'|trans }}{% endblock answer_button_action %}</a>
                                {% endblock answer_button %}
                                {% block answer_form %}
                                    <div id="answer_form_{{ value.id }}" class="answer_form" style="display: none">
                                        {% block answer_form_content %}
                                            {% block answer_form_label %}<label class="required">{{ 'review.answer.label'|trans}}<span class="required">*</span></label>{% endblock answer_form_label %}
                                            {% block answer_form_textarea %}<textarea></textarea>{% endblock answer_form_textarea %}
                                            {% block answer_form_actions %}
                                                <div class="actions">
                                                    {% block answer_form_close %}
                                                        <a class="close" {% block answer_form_close_action %}onclick="$('#answer_form_{{ value.id }}').hide();"{% endblock answer_form_close_action %}>{{ 'review.close'|trans }}</a>
                                                    {% endblock answer_form_close %}
                                                    {% block answer_form_add %}
                                                        <button class="button_embed_comment"><span>{{ 'review.answer.button'|trans}}</span></button>
                                                    {% endblock answer_form_add %}
                                                </div>
                                            {% endblock answer_form_actions %}
                                        {% endblock answer_form_content %}
                                    </div>
                                {% endblock answer_form %}
                            {% else %}
                                {% block answer_close %}
                                    <a class="colorbox cboxElement" href="{{ path('answer_review', {'id': value.id }) }}">{{ 'review.button_answer'|trans }}</a>
                                {% endblock answer_close %}
                            {% endif %}
                        {% endif %}
                    {% endblock review_answer %}
                {% endblock review_item_content %}
            </li>
        {% endblock review_item %}
    {% endfor %}
    </ul>        
    {% block next_comment %}
        {% if nextListButton %}
            {% block next_comment_button %}  
                <button class="next_comment"><span>{{ 'review.next_comment'|trans }}</span></button>
            {% endblock next_comment_button %}  
        {% endif %}
    {% endblock next_comment %}
{% endblock review_list_items %}