{% block buyer_info %}  
    {% block buyer_name %}
        {% if authType == 'nitraAuth' %}    
            {% if value.buyer.identity%}
                <a class="buyer_name link" href="{{ value.buyer.identity }}" target='_blank'>{{ value.buyer.name }}</a>
            {% else %}
                <span class="buyer_name">{{ value.buyer.name }}</span>
            {% endif %}
        {% else %}
            <span class="buyer_name">{{ value.userName ?: value.buyer.name }}</span>
        {% endif %}
    {% endblock buyer_name %}
    {% block date %}<span class="date">{{ value.addDate|localizeddate('none', 'none', app.request.locale , null, 'dd LLLL YYYY/HH:mm') }}</span>{% endblock date %}
{% endblock buyer_info %}