{% trans_default_domain 'NitraReviewBundle' %}

{% spaceless %}
<div class="rating_block">
    {% block rating %}
        {% block star_rating %}
            {% include 'NitraReviewBundle:Review:reviewRating.html.twig' with {'rating': averageRating} %}
        {% endblock star_rating %}

        {% block buyer_review_count %}
            <span class="buyer_review_count">{{ buyerReviewCount }}</span>
        {% endblock buyer_review_count %}

        {% block reviews_count %}
            <a href="{{ reviewLink }}">
                {{- reviewCount ~ ' ' ~ ('review.info.review' ~ reviewCount|declension(1, 2, 3, false))|trans -}}
            </a>
        {% endblock reviews_count %}
    {% endblock rating %}
</div>
{% endspaceless %}