{% block review_main_script %}
    {% set anonimUrl = (authType == 'nitraAuth') ? "path('nitra_auth')" : "path('answer_review')" %}
    <script type="text/javascript">
        $(document).on('click', '.rating', function() {
            $(this).closest('.rate.review').find('.rating:lt(' + ($(this).index() + 1) + ')').addClass('star');
            $(this).closest('.rate.review').find('.rating:gt(' + $(this).index() + ')').removeClass('star');
            $(this).closest('.rate.review').find('input[id="review_obj_rating"]').val($(this).index() + 1);
            $(this).closest('.rate.review').find('input[id="username_email_review_obj_rating"]').val($(this).index() + 1);
            $(this).closest('.rate.review').find('input[id="username_review_obj_rating"]').val($(this).index() + 1);
        });
        $(document).on('click', '.button_embed_comment', function() {
            $('#answer_form_' + id + ' .result').fadeOut(1000);
            var page = $('.review_list').data('page');
            var id = $(this).closest('li').attr('id');
            var text = $('#' + id).find('textarea').val();
            $.ajax({
                type: "POST",
                url: "{{ path ('review_list') }}",
                data: {'reviewId': id, 'embedComent': text, 'submitEmbedComent': true, 'page': page},
                success: function(Data) {
                    if (Data.anonim) {
                        $.colorbox({href: '{{ anonimUrl }}'});
                    } else if (Data.captchaReview) {
                        $.colorbox({href: '{{ path('nitra_captcha') }}?id=' + id});
                    } else if (Data.blankText) {
                        $('#answer_form_' + id + ' .result').fadeOut(1000);
                        $('#answer_form_' + id).prepend("<div class='result'>{{ 'review.answer.blankText'|trans }}</div>");
                    } else {
                        if (text.length > '0') {
                            $('#' + id).replaceWith(Data);
                            if (!('{{ showUnmoderated }}' == '1')) {
                                $('#answer_form_' + id).prepend("<div class='result'>{{ 'review.answer.success_modaration'|trans }}</div>");
                                $('#answer_form_' + id).toggle();
                            }
                        }
                    }
                }
            });
            return false;
        });

        $(document).on('click', '.next_comment', function() {
            var page = $('.review_list').data('page');
            page ++;
            $.ajax({
                type: "POST",
                url: "{{ path ('review_list') }}",
                data: {
                    page: page
                },
                success: function(Data) {
                    $('.next_comment').remove();
                    $('.review_list').append(Data);
                    $('.review_list').data('page', page);
                }
            });
            return false;
        });
    </script>
{% endblock review_main_script %}