<div class="stars">
    {% block star_rating %}
        {% for i in 1..5 %}
            {% if i <= rating %}
                {% block star %}
                    <span class="rating star"></span>
                {% endblock star %}
            {% else %}
                {% block empty_star %}
                    <span class="rating star_empty"></span>
                {% endblock empty_star %}
            {% endif %}
        {% endfor %}
    {% endblock star_rating %}
</div>