{% extends "NitraReviewBundle:Review:reviewBlock.html.twig" %}

{% trans_default_domain 'NitraReviewBundle' %}

{% block reviews_count %}
    <a href="{{ reviewLink }}">
        {{- reviewCount ~ ' ' ~ ('review.info.review' ~ reviewCount|declension(1, 2, 3, false))|trans -}}
    </a>
{% endblock reviews_count %} 