{% trans_default_domain 'NitraReviewBundle' %}

{% block review_content %}
    {% set reviewList = render(controller('NitraReviewBundle:Review:list')) %}
    {% set addReview  = render(controller('NitraReviewBundle:Review:addReview', {
        'utensils':      utensils,
        'objectId':      objectId,
        'reviewObjName': reviewObjName,
    })) %}

    {% block review_button_comment %}
        {% if reviewList|striptags|trim is not empty %}
            {% block review_button_comment_content %}
                <div class="button_comment" {% block review_button_comment_action %}onclick="$('#review_form').toggle(); $('.button_comment').hide();"{% endblock review_button_comment_action %}><span>{{ 'review.add_comment'|trans }}</span></div>
            {% endblock review_button_comment_content %}
        {% endif %}
    {% endblock review_button_comment %}

    {% block review_form %}
         <div id="review_form" class="review_form{% if reviewList|striptags|trim is not empty %} invisible{% endif %}">
            {% block review_form_content %}
                {% block review_form_title %}
                    <div class="title">{{ 'review.comment.title'|trans }}</div>
                {% endblock review_form_title %}
                {% block review_form_rows %}
                    {{ addReview|raw }}
                {% endblock review_form_rows %}
                {% block review_button_close %}
                    {% if reviewList|striptags|trim is not empty %}
                        <a class="close" onclick="$('#review_form').hide(); $('.button_comment').show();">{{ 'review.close'|trans }}</a>
                    {% endif %}
                {% endblock review_button_close %}
            {% endblock review_form_content %}
         </div>
    {% endblock review_form %}
    {% block review_title %}
        {% if reviewList|raw|striptags|trim is not empty %}
             <div class="title">{{ 'review.title'|trans }}</div>
        {% endif %}
    {% endblock review_title %}
    {% block reviewList %}
        <div class="reviewList_container">
            {{ reviewList|raw }}
        </div>
    {% endblock reviewList %}

    {% block review_script %}
        {{ include('NitraReviewBundle:Review:reviewScript.html.twig', script) }}
    {% endblock review_script %}
{% endblock review_content %}